    .signup-form {
        width: 800px;
    }
    
    input[type=text],
    input[type=password],
    input[type=datetime] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }
    
    input[type=text]:focus,
    input[type=password]:focus,
    input[type=datetime]:focus {
        background-color: #ddd;
        outline: none;
    }
    
    button {
        width: 130px;
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        opacity: 0.9;
    }
    
    button:hover {
        opacity: 1;
    }