.header {
    background-color: #f8aa02;
    overflow: hidden;
}

.top-nav-a a {
    float: left;
    color: #0a0a0a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav-a a:hover {
    background-color: #ddd;
    color: black;
}

.top-nav-b a {
    float: right;
    color: #201f1f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav-b a:hover {
    background-color: #ddd;
    color: black;
}

.anh img {
    max-width: fit-content;
    margin: 15px 0px 0px;
}


/* .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.image-container {
    display: flexbox;
}